In [2]:
import pandas as pd
from dotenv import load_dotenv
import os
load_dotenv()
load_data=os.getenv('data_url')
url=os.getenv("Connection_url")

In [57]:
pd.read_csv(load_data).to_csv(r"D:\Vikash_dash_Demo_Spam_MLOps\MLFLOW_Project_Insurance\notebook\data.csv",index=False)

In [58]:
data=pd.read_csv(r"D:\Vikash_dash_Demo_Spam_MLOps\MLFLOW_Project_Insurance\notebook\data.csv")

In [59]:
#Pushing data into MongoDB database
df=data.to_dict(orient='records')
#df

In [3]:
from pymongo import MongoClient
Project_Name = "MLOPS_Insurance_Data" #Database Name
Cluster_Name = "ClusterMLOPSINSURANCE" #Collection Name
client=MongoClient(url)
db=client[Project_Name]
collection=db[Cluster_Name]



try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

#collection.insert_many(df)

print("Data inserted successfully into MongoDB collection.")

Pinged your deployment. You successfully connected to MongoDB!
Data inserted successfully into MongoDB collection.

In [6]:
#Loading back data from MongoDB
df=pd.DataFrame(list(collection.find())).drop(columns=['_id'])
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0